:root {
    --darker-blue: rgba(25, 20, 101, 1);
    --darker-blue-transparent: rgba(25, 20, 101, 0.7);
    --dark-blue: rgba(33, 26, 144, 1);
    --blue: rgba(44, 21, 208, 1);
    --light-blue: rgb(190, 182, 249);
    --purple: rgba(124, 51, 185, 1);
    --white: rgb(255, 255, 255);
    --transparent: rgba(0, 0, 0, 0);
    --light-gray: rgb(226, 226, 226);
    --darker-blue-even-transparent: rgba(25, 20, 101, 0.2);
    --celtics-green: #007A33; 
    --celtics-gold: #BA9653;
    --celtics-brown: #963821;
  }
  
  html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    scroll-padding-top: 60px;
  }
  
  html body {
    margin: 0;
    padding: 0;
    background-color: var(--celtics-green); /* Increased specificity */
  }

  h1 {
    font-weight: bold;
    color: black;
  }

  h2 {
    font-weight: bold;
    color: black;
  }

  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 10px;
  }

  nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav a {
    color: white;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: var(--celtics-green);
    text-decoration: none;
    color: black; 
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  nav ul li a:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
    font-weight: bold;
  }

  .bioimg {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--white);
  }

  .car-img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid var(--white);
  }

  .gold-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--celtics-gold);
    color: var(--white);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--celtics-brown);
  }


  .section-below-navbar {
    padding-top: 25px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    }

  .green-card {
    background-color: var(--celtics-green);
    color: var(--white);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--darker-blue-even-transparent);
  }
  
  .green-p {
    color: var(--celtics-green)
  }

  .black-p {
    color: black;
  }

  .car-img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid var(--white);
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--celtics-green);
    color: var(--white);
    border-radius: 10px;
    margin-top: 10px; /* Reduced space above the element */
  }

  .resume-iframe {
    width: 80% !important; 
    height: 80vh; 
    border: none; 
    display: block;
    margin: 0 auto; 
  }

  #resumeSection {
    width: 100%;
    justify-content: center; 
  }

  #resumeSection iframe {
    width: 80%; 
    height: 80vh; 
    border: none; 
  }

  .carousel-inner img {
    width: auto !important; 
    max-width: 50%; 
    height: auto; 
    max-height: 20%;
    margin: 0 auto; 
  }

  .project_links {
    justify-content: center;
    padding-top: 25px;
    color: var(--celtics-green);
  }

  .project_links a {
    background-color: var(--celtics-green);
    color: black;
    text-decoration: none;
  }

  .project_links a:hover {
    background-color: var(--celtics-green);
    color: var(--celtics-gold);
    border-color: var(--celtics-brown);
    border-width: 2px;
  }